.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.movie {
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 20%;
    flex: 1;
    text-align: center;
}

.movie .card{
    height: 480px;
  
}

.movie .card-image {
    width: 200px;
    margin: auto;
}

/** MOVIE PAGE **/

.movie-page {
    background-color: aqua;
    height: 1000px;
}

.movie-page .container {
    width: 80%;
    margin-top: 15px;
    padding: 30px;
    background-color: blueviolet;
}

.movie-page .container .poster {
    width: 300px;
    margin: 10px;
}

.movie-page .container .body {
    margin-left:20px;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    text-align: start;
}

.movie-page .container .heading {
    font-size: 40px;
}

.movie-page .container .overview {
    font-size: 20px;
}